body { background-color:#deddcd}

#wrapper { width:100px; margin:40px auto; }


li {
	list-style: none;
}
#movieposters li img { 
	border: 10px solid #fcfafa; 
	box-shadow: 0 3px 10px #888; 
	transition-property: transform;
	transition-duration: 0.5s;
}
#movieposters li:hover img { 
	/*transform: rotateY(30deg);*/
	transform: skew(15deg,5deg);
}


.dt1 li img {
	border: 10px solid #fcfafa; 
	box-shadow: 0 3px 10px #888; 
	transition-property: transform;
	transition-duration: 0.5s;
}
.dt1 li:hover img { 
	transform: rotateY(30deg);
	
}
