/* ------------ ESTILOS PARA LA PÁGINA DE REGISTRO ------------ */
body {
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    margin: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    height: 500px;
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #03045E;
}

.registro-marco-principal,
.registro-marco-principal-encabezado,
.registro-marco-principal-cuerpo,
.registro-marco-principal-cuerpo-logo,
.registro-marco-principal-cuerpo-form,
.registro-marco-secundario,
.registro-marco-secundario-subdivision {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro-marco-principal {
    width: 594px;
    height: auto;
    border-radius: 12px;
    background-color: #03045E;
    box-shadow: 0 0px 40px 10px #A29C9C;
    padding: 40px 40px;
}

.registro-marco-principal-encabezado {
    flex-direction: row;
    margin-bottom: 40px;
}

.registro-marco-principal-encabezado-logo {
    margin-top: -40px;
    margin-bottom: -60px;
}

.registro-marco-principal-encabezado-logo img {
    width: auto;
    height: 150px;
}

.registro-marco-principal-encabezado-frase {
    padding: 0 30px;
}

.registro-marco-principal-cuerpo-form {
    width: 85%;
    max-width: 306px;
}

.registro-marco-secundario-subdivision {
    justify-content: center;
    border: none;
    width: auto;
    max-width: 347px;
    height: auto;
    margin: 20px;
    border-radius: 12px;
    background-color: #5C666A;
    box-shadow: 0px 0px 8px 2px #A29C9C;
    padding: 20px 45px;
    box-sizing: border-box;
}

.label-alternativo {
    text-align:left;
    transform-origin: left;
    margin-top: 10px;
    color:#D9D9D9
}

#label-titular-varianteColor {
    color: #D9D9D9;
    font-weight: 200;
    font-size: 26px;
    padding: 15px 0;
}

#label-auxiliar-varianteTextTransform {
    text-transform: lowercase;

}

#label-auxiliar-varianteTextTransform::first-letter {
    text-transform: uppercase;
}

#label-alternativo-varianteTextTransform {
    text-transform: lowercase;
    font-size: 12px;
}

/* ------------ PARA HACER TRANSPARENTE LA FECHA DEL DATEPICKER ------------ */

input[type="date"]:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]::-webkit-datetime-edit {
    color: inherit;
}

/* ------------ PARA ADAPTAR EL CAPTCHA EN EL FORM ------------ */

.g-recaptcha {
    transform: scale(0.85);
    margin: 10px 0;
}

/* ------------ PARA COLOREAR LOS REQUISITOS DE LA CONTRASEÑA ------------ */

#password-rules {
    width: 100%;
    margin: 5px 0px;
}

#password-rules li {
    list-style: none;
    color: yellow
}

#password-rules li.valid {
    color: #54FF4B;
}

#password-rules li.invalid {
    color: red;
}

#iconoAdvertencia {
    color: #EEFA00;
}

#mensajeError {
    display: none;
    color: #EEFA00;
    font-size: 8px;
    margin-top: 4px;
}

#mensajeErrorEmail {
    display: none;
    color: #EEFA00;
    font-size: 8px;
    margin-top: 4px;
}