/* ---------------- ESTILOS GENERALES ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a.visited {
  color: inherit;
}

.input-default {
    width: 263px;
    height: 47px;
    border-radius: 12px;
    border: none;
    background-color: #A7B1B5;
    transition: box-shadow 0.2s;
    padding: 0px 15px;
}

.input-default:hover{
    box-shadow: 0 0 5px 2px #A7B1B5;
}

.input-default:focus {
    background-color: #5C666A;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.label-titular {
    text-align:center;
    color: #f5843d;
    font-family: anton;
    font-weight: 400;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 2%;
    line-height: 33px;
    margin: 0px;
}

.label-titular-secundario {
    margin-bottom: 20px;
    white-space: nowrap;
    font-family: 'Anton', sans-serif;
    color: #F6853E;
    justify-self: start;
    font-size: 18px;
    letter-spacing: 0.06em;
}

.label-titular-alternativo {
    list-style: none;
    margin: 5px 0 5px 5px;
    color: #FBFCF8;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.label-principal {
    text-align:center;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    margin: 5px 0px 10px 0px;
}

.label-auxiliar {
    text-align:start;
    color: #F5E9E9;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    align-self: flex-start;
    line-height: 20px;
    margin-top: 5px;
    transition: transform 0.15s;
}

.label-auxiliar:hover {
    transform: scale(1.1);
}

.label-alternativo {
    width: 100%;
    color: #A39797;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 8px;
    text-transform: uppercase;
    transition: transform 0.18s;
}

.label-alternativo:hover {
    transform: scale(1.1);
    color:#fff;
    font-weight: 300;
}

.boton-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background-color: #F6853E;
    color: #D9D9D9;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
}

.boton-principal:hover {
    box-shadow: 0 0 10px 2px #F6853ECC;
    transform: scale(1.05);
}

.boton-principal:active {
    background-color: #F46B15;
    transform: scale(0.95);
}

.boton-accesoRapido {
    width: auto;
    height: 47px;
    border-radius: 12px;
    border: none;
    background-color: #3f474a;
    color: #FFFFFF;
    font-family: lato, sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 10px;
    transition: box-shadow 0.2s, transform 0.2s;
}

.boton-accesoRapido:hover {
    box-shadow: 0 0 10px 2px #3f474acc;
    transform: scale(1.05);
}

.boton-accesoRapido:active {
    background-color: #1B1D1D;
    transform: scale(0.95);
}

.imagen-icono {
    width: 37px;
    height: 37px;
}

/* ---------------- ANIMACIONES ---------------- */

.desplazamientosAlternados {
  display: inline-block;
  animation: desplazar 1s ease-in-out infinite alternate;
}

.retumbar {
    animation: retumbar 5s ease-in-out infinite;
    transform-origin: center;
}

@keyframes desplazar {
  0% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes retumbar {
  0%, 90%, 100% {
    transform: scale(1) translateX(0) rotate(0deg);
  }
  93% {
    transform: scale(1.1) translateX(5px) rotate(5deg);
  }
  96% {
    transform: scale(0.95) translateX(-5px) rotate(-12deg);
  }
  98% {
    transform: scale(1.05) translateX(3px) rotate(5deg);
  }
}
