html {
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    border: 1px #fff solid;
    margin: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    border: 1px #e5e916 solid;
    height: 500px;
    margin-top: 50px;
}

.robot {
    border: none;
}

.login-marco-principal,
.login-marco-principal-logo,
.login-marco-principal-form,
.login-marco-secundario,
.login-marco-secundario-subdivision {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-marco-principal {
    border: none;
    width: 394px;
    height: 514px;
    border-radius: 12px;
    background-color: #03045E;
    box-shadow: 0 0px 40px 10px #A29C9C;
}

.login-marco-principal-logo {
    margin-top: -40px;
    margin-bottom: -60px;
}

.login-marco-principal-logo img {
    width: auto;
    height: 330px;
}

.login-marco-secundario {
    align-items: baseline;
    justify-content: center;
    gap: 30px;
    border: none;

}

.login-marco-secundario-subdivision {
    justify-content: center;
    border: none;
    width: 347px;
    max-width: 347px;
    height: auto;
    margin: 20px;
    border-radius: 12px;
    background-color: #5C666A;
    box-shadow: 0px 0px 8px 2px #A29C9C;
    padding: 15px 40px;
    box-sizing: border-box;
}

#boton-google {
    width: 189px;
    padding-left: 0px;
}
